@import "tailwindcss";

/* Define your custom tokens inline */
/* @theme inline {
  --font-heading: "Playfair Display", serif;
  --font-subheading: "Raleway", sans-serif;
  --font-sans: "Lato", sans-serif;
}
body {
  @apply font-sans;
} */

body {
  font-family: "Lato", sans-serif;
}

.font-heading {
  font-family: "Playfair Display", serif;
}

.font-subheading {
  font-family: "Raleway", sans-serif;
}
